<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/js/app.js"></script>
    <title><%= title %></title>
</head>


<body ng-app="contacts" ng-controller="contactCtr">



<div  ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="100" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Contacts</span>
      </div>
    </md-toolbar>
    <md-content>

      <md-list flex>
        <md-subheader class="md-no-sticky">
           <input type="text" class="form-control" placeholder="Search Contact" ng-model="searchContact">
          <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="showEntryPage($event)">
          <md-icon md-svg-src="/assets/icons/ic_add_24px.svg" style="color: greenyellow;"></md-icon>
          </md-button>
        
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="contact in names | filter:searchContact" ng-click="null">
          <img ng-src="{{image}}?{{$index}}" class="md-avatar" alt="{{contact.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ contact.name }}</h3>
            <h4>{{ contact.address.street }}</h4>
            <p>{{ contact.address.city }}</p>
          </div>
          <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="showInsertForm(contact._id)">
          <md-icon md-svg-src="/assets/icons/ic_mode_edit_24px.svg" style="color: greenyellow;"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="removeContact(contact)">
          <md-icon md-svg-src="/assets/icons/ic_delete_24px.svg" style="color: greenyellow;"></md-icon>
          </md-button>
          <md-divider ></md-divider>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
    </md-content>
  </div>
  <md-divider></md-divider>
</div>
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/pujie.common.js"></script>
<script type="text/javascript" src="/js/contacts.js"></script>
</body>
</html>
