<html>
<head></head>
<body>
<h1>demi nyai</h1>
<ul>
    <li><a href="http://localhost:3000/">home</a></li>
    <li><a href="http://localhost:3000/mongoconnect">mongoconnect test</a></li>
    <li><a href="http://localhost:3000/mongoinsert">mongoinsert test</a></li>
    <li><a href="http://localhost:3000/getcollectionejs">getcollection (EJS)</a></li>
    <li><a href="http://localhost:3000/getcollectionangular">getcollection (Angular)</a></li>
    <li><a href="http://localhost:3000/entrycontact">entrycontact (Angular)</a></li>
</ul>
</body>
</html>
